
.boton-central {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.percent {
    width: 90%;
}

.formulario {
    padding: 10px;
    background-color: #C0C0C0;
    width: 100px;
}

.panel {}

#container {}

.center {
    width: auto;
    margin: 0px auto;
}
